@import 'https://fonts.googleapis.com/css?family=Merriweather';

html, body {
    background-color: white;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* Шапка страницы */
.page-header {
    height: 13%;
    padding: 10px;
    font-size: 14px;
    color: white;
    background-color: #0f2c66;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.me {
    display: flex;
    flex-direction: row;
}

.ava {
    width: 50px;
    height: auto;
    border: 1px solid white;
    border-radius: 50%;
}

.sign {
    margin-left: 7px;
    margin-top: 20px;
}

.contacts-container {
    border: 2px green solid;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    border-radius: 10px;
}

.contacts {
    text-decoration: none;
    color: black;
    text-align: center;
}

.contacts img {
    width: 15px;
    height: 15px;
}

/* Лого страницы */

.head-container {
    padding: 5px 10px;
    margin: 0;
    text-align: center;
    background-color: white;
    border-radius: 30px;
    z-index: 1;
    user-select: none;
  }

.heading {
    font-family: 'Merriweather', serif;
    font-size: 35px;
    letter-spacing: 1px;
    max-width: 320px;
    width: 100%;
    position: relative;
    display: inline-block;
    color: #465457;
    border: 3px solid #276896d0;
  }


.head-container h1 {
    display: table;
    width: auto;
    margin: 15px auto;
    letter-spacing: 2px;
    color: #0b0f12d0;
    z-index: 3;
}

.head-container h1 span{
    color:white;
    z-index: 4;
}

.head-container h1:before {
    content: "";
    position: absolute;
    top: -1%;
    left: 70px;
    z-index: -1;
    background: #276896d0;
    width: 27px;
    height: 45px;
    animation: logo 3s;
}

@keyframes logo {
    0% {left: 0;}
    50% {left: 82%;}
    100% {left: 70px;}
}
/* Конец шапки */



/* Основное окно игры */
.main {
    height: 80%;
    padding-top: 30px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
}

.main-window {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: stretch;
    grid-gap: 15px;

    margin: auto;
    margin-top: 0%;
    margin-left: 30%;
    width: 50%;
    height: 70%;
    text-align: center;
    vertical-align: center;
}

 .main-field {
    width: 450px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: stretch;
    align-items: stretch;
    border: 1px solid black;
}

.field {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: stretch;
    align-items: stretch;
    border: 2px solid black;
}

.block {
    border: 1px solid black;
    background-color: aliceblue;
    text-align: center;
    vertical-align: center;
    font-size: 33px;
    color: black;
    user-select: none;
}

/* Панель инструментов */

.toolpad {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    user-select: none;
    width: 80%;
}

.numpad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 0;
    height: 60%;
    text-align: center;
    vertical-align: center;
}

.num {
    color: blue;
    font-size: 50px;
    background-color: #d1e5e5;
    border: 2px solid black;
    cursor: default;
    user-select: none;
}

.tools {
    display: flex;
    flex-direction: row;
    height: 15%;
    text-align: center;
}

.tools div {
    display: table-cell;
    vertical-align: middle;
    width: 25%;
    border: 2px solid black;
}

.tool {
    background-color: #d1e5e5;
}

.tool:hover {
    background-color: #ccc;
}

.tools img {
    width: 70%;
    height: auto;
}

.newgame {
    height: 12%;
    background-color: #d1e5e5;
    border: 2px solid black;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.newgame:hover {
    background-color: #ccc;
}

.difficulty {
    height: 8%;
    background-color: #d1e5e5;
    border: 2px solid black;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    vertical-align: center;
}

.extra {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.size {
    width: 70%;
    background-color: #d1e5e5;
    border: 2px solid black;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    vertical-align: center;
}

.type {
    cursor: default;
    width: 30%;
    background-color: #d1e5e5;
    border: 2px solid black;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    vertical-align: center;
    user-select: none;
}

select:hover, .type:hover {
    background-color: #ccc;
}